table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
